/* file: stylesheets/app/base.scss */

body {
  background: #AFD8FF image-url("essgee_soccer_bg.png") repeat;
}

p {
  font-size: 1.25em;
  line-height: 1.5;
}

a {
  &, &:hover { color: #82C2FF; }
}
