/* Base */
body {
        color: #555;
  font-family: sans-serif;
       margin: 0;
}

/* Layout */
.l-fixed {
   width:  1000px;
  margin:  30px auto 10px auto;
}

#content {
  margin-bottom: 50px;
}

/* UI */
.stripe {
      background: #bbb;
     padding-top: 10px;
  padding-bottom: 10px;
}
