---
title: Test Report | Exam4
---

.icon-bar.two-up
  %a.item <label>Home<label>
  %a.item <label>Report<label>

.row
  .columns.small-12
    %h1 Prepared for Extregrity
.row
  .columns.small-12
    %h2 summary
.row
  .columns.small-12
    %h2 method
    = image_tag 'mac_specs.png'
    %p.caption Test Setup

.row
  .columns.small-12
    %h1 footer
